<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="Jerin Joseph" content="">

  <title>Snimoz | Control Panel</title>

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="css/style.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="crossorigin=""/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('sidebar.ejs') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include('topbar.ejs') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">View/Delete Restricted zones</h1>
          <p class="mb-4">You can view zone name by clicking on any of the marked zones and further delete it by clicking 
            the Delete button.
            <br>
            <div style="display:flex">
              <p style="font-size: 12px;line-height: 24px;font-weight: normal;color: #848484;padding: 0;margin: 0;"><b>Type 1:</b> <span style="width: 15px; height: 15px; margin:auto;margin-right:10px; display: inline-block; vertical-align: middle; border-radius: 2px; background: red "></span> </p>
              <p style="font-size: 12px;line-height: 24px;font-weight: normal;color: #848484;padding: 0;margin: 0;"><b>&nbsp;Type 2:</b> <span style="width: 15px; height: 15px; margin:auto;margin-right:10px; display: inline-block; vertical-align: middle; border-radius: 2px; background: blue "></span> </p>
              <p style="font-size: 12px;line-height: 24px;font-weight: normal;color: #848484;padding: 0;margin: 0;"><b>&nbsp;Type 3:</b> <span style="width: 15px; height: 15px; margin:auto;margin-right:10px; display: inline-block; vertical-align: middle; border-radius: 2px; background: green "></span> </p>
            </div>
          </p>

          <div class="map-content">
            <div id="map" style = "width:100%; height:500px;"></div>
            <div class="zone-details" style="text-align: center;">
              <form id="mapform" action="/delete" onsubmit="func()" style="padding:5% 0;">
                <label>Provide the name of the zone to remove it </label>
                <input id="zn"type="text"name="zoneName" placeholder="zone name">
                <button id="az" type="submit"class="btn btn-sm btn-danger shadow-sm" disabled>Remove Zone</button>
              </form>             
            </div>
          </div> 
        </div>

      <!-- End of Main Content -->

      <!-- Footer -->
      <%- include('footer.ejs') %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <%- include('logoutModal.ejs') %>
  <script>

    var pointsArray = JSON.parse('<%-JSON.stringify(pointsArray)%>');
    console.log(pointsArray);
    var namesArray = JSON.parse('<%-JSON.stringify(namesArray)%>');
    console.log(namesArray);
    var typesArray = JSON.parse('<%-JSON.stringify(typesArray)%>');
    console.log(typesArray);

  </script>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/script.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>  
  <script src="/js/viewZone.js"></script>
</body>
</html>

